comtypes
contourpy
cycler
filelock
fonttools
fsspec
Jinja2
joblib
kiwisolver
llvmlite
MarkupSafe
matplotlib
mpmath
networkx
numba
numpy
opencv-python
packaging
pandas
pillow
plumbum
polars
pyft232
pylablib
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
pyqtgraph
pyserial
python-dateutil
pythonnet
pytz
pyusb
PyVISA
pywin32
pywinauto
reactivex
rpyc
scikit-learn
scipy
six
sympy
threadpoolctl
torch
timm
typing_extensions
tzdata
zaber_motion
